@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Bold.ttf");
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}
.h1index {
  padding-left: 4%;
}

.h1menu {
  font-family: Shrikhand;
  width: 80%;
  font-size: 27px;
}

.h2menu {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 305px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 500px) {
  .h2menu {
    margin-right: 80%;
    margin-left: 9%;
  }
}
@media screen and (min-width: 992px) {
  .h2menu {
    margin-right: 70%;
  }
}

body {
  margin: auto;
  width: 375px;
  font-family: "Roboto", Arial, serif;
}
@media screen and (min-width: 500px) {
  body {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  body {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .corpspage {
    width: 90%;
    margin: auto;
  }
}

img {
  object-fit: cover;
}

.corpsmenu {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  position: relative;
}

.menus {
  margin-bottom: 50px;
}

.btn {
  background: linear-gradient(to bottom right, #EC73DA, #9356DC);
  width: 50%;
  margin: auto;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 30px;
  text-align: center;
  transform: scale(1);
  transition: transform 300ms;
}
.btn:hover {
  transform: scale(1.01);
  background: linear-gradient(to bottom right, #f2a0e6, #ae80e5);
  box-shadow: 0 4px 8px 0 rgba(236, 115, 218, 0.7);
  font-weight: bold;
  cursor: pointer;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 500px) {
  .btn {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .btn {
    width: 20%;
  }
}

.btnnv {
  position: absolute;
  background-color: #99E2D0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  right: 10px;
  top: 15px;
  border-radius: 2px;
  font-weight: bold;
  color: #008766;
  font-size: 14px;
}
.btnnv:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
}

/* bouton pages resto */
.bouton {
  padding-bottom: 50px;
}

/* Formulaire */
input {
  background-color: #EAEAEA;
  border: 1px solid #EAEAEA;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
}

.formloca {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: inset 0 0.125rem 0.25rem -0.1875rem #353535;
  background-color: #eaeaea;
}

label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
}

.formulaire {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 30px;
}

.contenuform {
  padding-top: 30px;
}
.contenuform h1 {
  width: 80%;
  margin: auto;
  padding-left: 0;
}
.contenuform p {
  width: 95%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

.contenubann {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  transform: scale(1);
  transition: transform 400ms;
}

.heart:hover::after {
  cursor: pointer;
  transform: scale(1.2);
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#EC73DA, #9356DC);
  display: inline-block;
  animation: opacity 500ms;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.cardresto .heart {
  position: absolute;
  right: 20px;
  bottom: 25px;
}

/* header index */
.headeraccueil {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: "Shrikhand";
  font-size: 30px;
}
@media screen and (min-width: 500px) {
  .headeraccueil {
    font-size: 36px;
  }
}
.headeraccueil p {
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: auto;
}

/* header menus */
.headermenu {
  padding-top: 15px;
  font-family: "Shrikhand";
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 500px) {
  .headermenu {
    font-size: 36px;
  }
}

.headermenu p {
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: auto;
}

.headermenu i {
  padding-left: 17px;
  position: absolute;
  top: 25px;
  font-size: 30px;
  color: #000;
  transform: scale(1);
  transition: transform 300ms;
}
.headermenu i:hover {
  transform: scale(1.2);
  color: #9356DC;
}

/* footer */
footer {
  background-color: #353535;
  color: #fff;
  padding-left: 7%;
  padding-top: 30px;
  padding-bottom: 20px;
}
@media screen and (min-width: 992px) {
  footer {
    padding-left: 3%;
  }
}
footer ul {
  padding-left: unset;
}
@media screen and (min-width: 500px) {
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  footer ul {
    width: 90%;
    display: flex;
    flex-direction: row;
  }
}
footer li {
  list-style-type: none;
  padding-bottom: 8px;
}
@media screen and (min-width: 992px) {
  footer li {
    margin: auto;
  }
}
footer li i {
  margin-right: 5px;
  font-size: 12px;
}
footer li .fa-utensils {
  margin-right: 9px;
}
footer li a {
  text-decoration: none;
  color: #fff;
}

.logofooter {
  color: #fff;
  font-family: "Shrikhand";
  font-size: 18px;
}
@media screen and (min-width: 500px) {
  .logofooter {
    text-align: center;
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .logofooter {
    text-align: left;
  }
}

/* Fonctionnement page accueil */
.fonctionnement {
  padding-bottom: 40px;
  padding-top: 40px;
}

.fctcardglobal i {
  font-size: 20px;
  width: auto;
  padding-left: 30px;
  padding-right: 15px;
  color: #7E7E7E;
}
.fctcardglobal .fa-store {
  color: #9356DC;
}
@media screen and (min-width: 500px) {
  .fctcardglobal {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .fctcardglobal {
    width: 80%;
    margin: auto;
  }
}

.fctcard {
  background-color: #f6f6f6;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 18px;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(66, 23, 23, 0.2);
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  transform: scale(1);
  transition: transform 400ms;
}
.fctcard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(236, 115, 218, 0.7);
}
@media screen and (min-width: 500px) {
  .fctcard {
    width: 30%;
    min-width: 260px;
  }
}
.fctcard p {
  position: absolute;
  left: 22%;
  font-weight: bold;
  font-size: 15px;
}

.chiffre {
  color: #fff;
  background-color: #9356DC;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}

/* Zone restaurants page accueil */
#restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
}
#restaurants img {
  width: 100%;
  height: 175px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 12px;
}
#restaurants p {
  font-size: 18px;
  padding-left: 3%;
  margin-top: 0;
  margin-bottom: 6px;
}
#restaurants .h2index {
  font-size: 18px;
  padding-left: 3%;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: bold;
}

.cardresto {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 255px;
  background-color: #fff;
  position: relative;
}
.cardresto:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 500px) {
  .cardresto {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .cardresto {
    width: 20%;
  }
}
.cardresto a {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 500px) {
  .cardrestoglobal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .cardrestoglobal {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
}

/* bannière pages resto */
.bannmenu img {
  width: 100%;
  height: 258px;
}
@media screen and (min-width: 500px) {
  .bannmenu img {
    height: 400px;
  }
}

.contenubann {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.contenubann img {
  width: 20px;
  padding-top: 20px;
}

/* parties des menus pages resto */
@media screen and (min-width: 500px) {
  .cardmenuglobal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .cardmenuglobal {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}
.cardmenuglobal p, .cardmenuglobal h3:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 992px) {
  .menusglobal {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.cardmenu {
  background-color: #fff;
  width: 90%;
  height: 70px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(66, 23, 23, 0.2);
}
@media screen and (min-width: 500px) {
  .cardmenu {
    width: 40%;
    min-width: 300px;
  }
}
@media screen and (min-width: 992px) {
  .cardmenu {
    width: 25%;
  }
}
.cardmenu:hover {
  cursor: pointer;
}

.cardmenu h3 {
  font-size: 17px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 10px;
}

.cardmenu p {
  font-size: 14px;
  margin-block-start: 0;
  padding-top: 10px;
}

.cardmenu p, h3 {
  padding-left: 10px;
  padding-right: 20px;
}

.cardmenu h3:last-child {
  font-size: 16px;
  padding-bottom: 10px;
}

.descricardmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* apparition menus pages resto */
.cardmenu {
  animation: slidemenu ease 600ms 1 normal both;
}
.cardmenu--1 {
  animation-delay: 200ms;
}
.cardmenu--2 {
  animation-delay: 400ms;
}
.cardmenu--3 {
  animation-delay: 600ms;
}
.cardmenu--4 {
  animation-delay: 800ms;
}

@keyframes slidemenu {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* slide checkbox */
.contenumenu {
  width: 100%;
  transition: width 600ms;
}

.checkbox {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  font-size: 1.5rem;
  color: #fff;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  border-radius: 0 15px 15px 0;
}
.checkbox::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  margin: auto;
  transition: transform 400ms;
  transition-delay: 100ms;
}

.cardmenu:hover .contenumenu {
  width: 80%;
}
.cardmenu:hover .checkbox {
  animation: check ease 600ms 1 normal both;
}
.cardmenu:hover .checkbox::after {
  transform: rotate(360deg);
}

@keyframes check {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  visibility: hidden;
  animation: fond 3s both;
  background: #f6f6f6;
  color: #c3c3c3;
  font-size: 50px;
  font-family: "shrikhand", sans-serif;
}

.loader p {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #EC73DA, #9356DC, #99E2D0, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  font-family: "shrikhand", sans-serif;
  animation: reveal 3s ease-in-out forwards 200ms;
}
@media screen and (min-width: 500px) {
  .loader p {
    font-size: 75px;
  }
}
@media screen and (min-width: 992px) {
  .loader p {
    font-size: 100px;
  }
}

@keyframes reveal {
  0% {
    background-size: 100% 100%;
  }
  20% {
    background-size: 160% 160%;
  }
  80% {
    letter-spacing: 8px;
    background-size: 240% 240%;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes fond {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
