/* footer */


footer
{
    background-color: #353535;
    color: #fff;
    padding-left: 7%;
    padding-top: 30px;
    padding-bottom: 20px;

    ul{
        padding-left: unset;
    }

    li{
        list-style-type: none;
        padding-bottom: 8px;

        img{
            margin-right: 5px;
        }
    }
}

.logofooter
{
    color: #fff;
    font-family: 'Shrikhand';
    font-size: 18px;
}



