/*.heart
    {
        position: relative;
        width: 10px;
        height: 10px;
        border-top: 1px solid rgba(0,0,0,0);
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid rgba(0,0,0,0);
        top: 37px;
        transform: rotate(45deg);
        right: 17px;

        &:hover{
            cursor: pointer;
            background: linear-gradient(to bottom right, $gradient1, $gradient2);
        }
    }

.heart::before
    {
        position: absolute;
        bottom: -1px;
        left: -9px;
        width: 10px; 
        height: 10px;
        border-radius: 50%;
        border: 1px solid black;
        border-right: 1px solid rgba(0,0,0,0);
        content: "";
    } 

.heart::after
    {
        position: absolute;
        top: -9px;
        right: -1px;
        width: 10px;
        height: 10px;
        content: "";
        border-radius: 50%;
        border: 1px solid black;
        border-bottom: 1px solid rgba(0,0,0,0);
    } */


.contenubann
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heart::after
{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f004";
    font-size: 25px;
    transform: scale(1);
    transition: transform 400ms;
}

.heart:hover::after{
        cursor: pointer;
        transform: scale(1.2);
        font-weight: 400;
        /*-webkit-background-clip: text;*/
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient($gradient1, $gradient2);
        display: inline-block;
}


.cardresto .heart
{
    position: absolute;
    right: 20px;
    bottom: 25px;
}