body
{
    margin: auto;
    width: 375px;
    font-family: 'Roboto', Arial, serif;
}


img
{ 
    object-fit:cover;
}

.corpsmenu
{
    background-color: #f6f6f6;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    position: relative;
}

.menus
{
    margin-bottom: 50px;
}