@font-face
{
	font-family: 'Roboto';
    src: url('../polices/Roboto/Roboto-Bold.ttf');
    src: url('../polices/Roboto/Roboto-Regular.ttf');
}

@font-face
{
    font-family: 'Shrikhand';
    src: url('../polices/Shrikhand/Shrikhand-Regular.ttf');
}