.h1index
{
    padding-left: 4%;
}

.h1menu
{
    font-family: Shrikhand;
    width: 80%;
    font-size: 27px;
}




.h2menu
{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 305px;
    padding-bottom: 5px;
    border-bottom: 3px solid #99E2D0;
}