/* bannière */


.bannmenu img
{
    width: 100%;
    height: 258px;

    @media screen and (min-width: 500px)
    {
        height: 400px;
    }
}



.contenubann
{
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.contenubann img
{
    width: 20px;
    padding-top: 20px;
}