/* bannière */


.bannmenu img
{
    width: 100%;
    height: 258px;
}



.contenubann
{
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.contenubann img
{
    width: 20px;
    padding-top: 20px;
}