.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  visibility: hidden;
  animation: fond 3s both;
  background: $background;
  color: darken($background, 20%);
  font-size: 50px;
  font-family: 'shrikhand', sans-serif;}

  .loader p {
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, $gradient1, $gradient2, $btnnv, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
    font-family: 'shrikhand', sans-serif;
    animation: reveal 3s ease-in-out forwards 200ms;
  
    @media screen and (min-width: 500px){
      font-size: 75px;
    }

    @media screen and (min-width: 992px){
      font-size: 100px;
    }
  }


  @keyframes reveal {
    0% {
      background-size: 100% 100%;
    }

    20% {
      background-size: 160% 160%;
    }

     80%{
        letter-spacing: 8px;
        background-size: 240% 240%;
     }
     100% {
        background-size: 300% 300%;
     }
  }
  


 @keyframes fond {
  0%{
    visibility: visible;
  }
  100%{
    visibility: hidden;
  }
}

/*.loader::after
{
  content:"";
  background: -webkit-linear-gradient($gradient1, $gradient2, $btnnv);
  animation: degrade 300ms;
  -webkit-background-clip: text;
  background-clip:text;
}




@keyframes degrade {
  0% {
    background-size: 0%;
  }
100% {
    background-size: 100%;
  }
}*/
