@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Bold.ttf");
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}
.h1index {
  padding-left: 4%;
}

.h1menu {
  font-family: Shrikhand;
  width: 80%;
  font-size: 27px;
}

.h2menu {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 305px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}

body {
  margin: auto;
  width: 375px;
  font-family: "Roboto", Arial, serif;
}

img {
  object-fit: cover;
}

.corpsmenu {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  position: relative;
}

.menus {
  margin-bottom: 50px;
}

.btn {
  background: linear-gradient(to bottom right, #EC73DA, #9356DC);
  width: 50%;
  margin: auto;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.btn a {
  color: #fff;
  text-decoration: none;
}

.btnnv {
  position: absolute;
  background-color: #99E2D0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  right: 10px;
  top: 15px;
  border-radius: 2px;
  font-weight: bold;
  color: #008766;
  font-size: 14px;
}

.bouton {
  padding-bottom: 50px;
}

/* Formulaire */
input {
  background-color: #EAEAEA;
  border: 1px solid #EAEAEA;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
}

.formulaire {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 30px;
}

.contenuform {
  padding-top: 30px;
}
.contenuform h1 {
  width: 80%;
  margin: auto;
  padding-left: 0;
}
.contenuform p {
  width: 95%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

/* header index */
.headeraccueil {
  text-align: center;
  padding-top: 20px;
  font-family: "Shrikhand";
  font-size: 30px;
}

/* header menus */
.headermenu {
  padding-top: 15px;
  font-family: "Shrikhand";
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.headermenu p {
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: auto;
}

.headermenu img {
  padding-left: 17px;
  position: absolute;
  top: 25px;
}

/* footer */
footer {
  background-color: #353535;
  color: #fff;
  padding-left: 7%;
  padding-top: 30px;
  padding-bottom: 20px;
}
footer ul {
  padding-left: unset;
}
footer li {
  list-style-type: none;
  padding-bottom: 8px;
}
footer li img {
  margin-right: 5px;
}

.logofooter {
  color: #fff;
  font-family: "Shrikhand";
  font-size: 18px;
}

/* Fonctionnement */
.fonctionnement {
  padding-bottom: 40px;
  padding-top: 40px;
}

.fctcard {
  background-color: #f6f6f6;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 18px;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(66, 23, 23, 0.2);
  border: 1px 1px solid #f6f6f6;
  border-radius: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  display: flex;
  align-items: center;
  position: relative;
}
.fctcard p {
  position: absolute;
  left: 22%;
  font-weight: bold;
  font-size: 15px;
}
.fctcard img {
  height: 20px;
  width: auto;
  padding-left: 30px;
  padding-right: 15px;
}

.chiffre {
  color: #fff;
  background-color: #9356DC;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}

/* Zone restaurants */
#restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
}
#restaurants img {
  width: 100%;
  height: 175px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 12px;
}
#restaurants p {
  font-size: 18px;
  padding-left: 3%;
  margin-top: 0;
  margin-bottom: 6px;
}

.cardresto {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 255px;
  background-color: #fff;
  position: relative;
}
.cardresto a {
  text-decoration: none;
  color: #000;
}

/* bannière */
.bannmenu img {
  width: 100%;
  height: 258px;
}

.contenubann {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.contenubann img {
  width: 20px;
  padding-top: 20px;
}

.cardmenu {
  background-color: #fff;
  width: 90%;
  height: 70px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(66, 23, 23, 0.2);
}

.cardmenu:hover {
  cursor: pointer;
}

.cardmenu h3 {
  font-size: 17px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 10px;
}

.cardmenu p {
  font-size: 14px;
  margin-block-start: 0;
  padding-top: 10px;
}

.cardmenu p, h3 {
  padding-left: 10px;
  padding-right: 20px;
}

.cardmenu h3:last-child {
  font-size: 16px;
  padding-bottom: 10px;
}

.descricardmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
}

/*# sourceMappingURL=style.css.map */
